In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/ukrainian-airspace/ukraineflights.csv

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df = pd.read_csv('/kaggle/input/ukrainian-airspace/ukraineflights.csv', header=None) # as headers are missing
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
0,5110c8,ATG2101,Estonia,2022-02-22 15:28:35,2022-02-22 15:28:35,27.1995,45.5531,4884.42,False,122.59,224.49,0.00,NaN,4823.46,5565.0,False,0
1,4248ef,SVR522,United Kingdom,2022-02-22 15:28:36,2022-02-22 15:28:36,37.7853,55.4932,891.54,False,85.05,145.35,-4.88,NaN,746.76,10.0,False,0
2,471f8c,WZZ1550,Hungary,2022-02-22 15:28:28,2022-02-22 15:28:34,21.2426,45.9153,10668.00,False,231.00,111.42,-0.33,NaN,10553.70,6405.0,False,0
3,471f89,WZZ2276,Hungary,2022-02-22 15:28:34,2022-02-22 15:28:34,22.2773,46.0858,8557.26,False,221.14,102.90,-9.75,NaN,8473.44,4362.0,False,0
4,4248e6,SDM6413,United Kingdom,2022-02-22 15:28:35,2022-02-22 15:28:35,45.0040,56.1057,11277.60,False,264.11,92.23,0.00,NaN,10850.88,734.0,False,0

In [4]:

#df.drop(df.columns[10:], axis=1, inplace=True)

#renaming the columns
df.columns = ['ICAO 24-bit code','callsign','origin country','time at position','time of last contact','longitude','latitude',
              'barometric altitude','aircraft is grounded','velocity', 'heading','vertical rate',
             'sensors', 'geo_altitude', 'squawk', 'spi', 'position_source']

df.head()

,ICAO 24-bit code,callsign,origin country,time at position,time of last contact,longitude,latitude,barometric altitude,aircraft is grounded,velocity,heading,vertical rate,sensors,geo_altitude,squawk,spi,position_source
0,5110c8,ATG2101,Estonia,2022-02-22 15:28:35,2022-02-22 15:28:35,27.1995,45.5531,4884.42,False,122.59,224.49,0.00,NaN,4823.46,5565.0,False,0
1,4248ef,SVR522,United Kingdom,2022-02-22 15:28:36,2022-02-22 15:28:36,37.7853,55.4932,891.54,False,85.05,145.35,-4.88,NaN,746.76,10.0,False,0
2,471f8c,WZZ1550,Hungary,2022-02-22 15:28:28,2022-02-22 15:28:34,21.2426,45.9153,10668.00,False,231.00,111.42,-0.33,NaN,10553.70,6405.0,False,0
3,471f89,WZZ2276,Hungary,2022-02-22 15:28:34,2022-02-22 15:28:34,22.2773,46.0858,8557.26,False,221.14,102.90,-9.75,NaN,8473.44,4362.0,False,0
4,4248e6,SDM6413,United Kingdom,2022-02-22 15:28:35,2022-02-22 15:28:35,45.0040,56.1057,11277.60,False,264.11,92.23,0.00,NaN,10850.88,734.0,False,0

In [5]:
df.info(verbose=1)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2314408 entries, 0 to 2314407
Data columns (total 17 columns):
 #   Column                Dtype
---  ------                -----
 0   ICAO 24-bit code      object
 1   callsign              object
 2   origin country        object
 3   time at position      object
 4   time of last contact  object
 5   longitude             float64
 6   latitude              float64
 7   barometric altitude   float64
 8   aircraft is grounded  bool
 9   velocity              float64
 10  heading               float64
 11  vertical rate         float64
 12  sensors               float64
 13  geo_altitude          float64
 14  squawk                float64
 15  spi                   bool
 16  position_source       int64
dtypes: bool(2), float64(9), int64(1), object(5)
memory usage: 269.3+ MB

In [6]:
df.isnull().sum()

ICAO 24-bit code              0
callsign                  18559
origin country              103
time at position              0
time of last contact          0
longitude                     0
latitude                      0
barometric altitude       44072
aircraft is grounded          0
velocity                      6
heading                       0
vertical rate             42243
sensors                 2314408
geo_altitude              78084
squawk                   273428
spi                           0
position_source               0
dtype: int64